body{
background:url(sac.jpg);
//background-color:#558C89;
margin: 0px;
font-family:verdana,Arial;
font-size: 14px;

}
#myself{
background-color:#e5e4d7;
margin: 10px;
font-size:120%;
padding: 20px;
border-radius:5px;
text-align:center;
}

#header{
background:url(top.jpg);
background-color:#74AFAD;
margin: 10px;
height: 100px;
border-radius:5px;
}


.content{
background:url(content.jpg);
margin-left: 10px;
margin-top: 10px;
margin-bottom: 10px;
margin-right: 330px;
font-size:110%;
padding: 20px;
color:black;
font-weight:bold;
border-radius:5px;
}


.sr{
background:url(content.jpg); 
background-color:#e5e4d7;
margin-left: 10px;
margin-top: 10px;
margin-bottom: 10px;
margin-right: 10px;
font-size:105%;
padding: 20px;
border-radius:5px;
float:right;
width:250px;
color:black;
font-weight:bold;
clear:right;
}

#footer{
//background-color:#74AFAD;
margin:10px;
height:50px;
border-radius:5px;
clear:both;
color:#efe5d0;
text-align:center;
font-size:80%;
}


h1{
font-size:140%;
color:red;
}

h2{
color:blue;
font-size:120%;
}

h3{
font-size:250%;
margin:0;
text-align:center;
color:#e5e4d7;
font-family:Georgia,Arial;
position:relative;
top:50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}



#navigation ul{

padding: 0px;
list-style-type: none;
text-align: center;
background-color:black;
margin: 10px;
border-radius:5px;
font-size:140%;
}

#navigation li{

display:inline;
padding:20px;
vertical-align:middle;

}
#navigation a{

font-family:Arial;
text-decoration:none;
color:white;
padding:.1em 1.2em;
}

#navigation a:hover{

color:black;
background-color:white;
}

.content a{

text-decoration:none;
color:blue;
}


.content a:hover{
color:red;
}


#footer ul{

padding: 0px;
list-style-type: none;
text-align: center;
margin: 10px;
border-radius:5px;
font-size:140%;
}

#footer li{

display:inline;
padding:20px;
vertical-align:middle;

}
#footer a{

font-family:Arial;
text-decoration:none;
color:white;
padding:.1em 1.2em;
}

#footer a:hover{

color:black;
background-color:white;
}
